@using SIO.Domain.Emails.Templates.ResetPassword
@using System.Text
@model ResetPasswordPayLoad
@{
    Layout = "~/Emails/Templates/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col text-center">        
        <h3>Reset your password</h3>
        <p>Hi @Model.Name,</p>
        <p>you have requested a password reset, please click the button below.</p>
         <a class="btn btn-primary" href="@($"{Model.UrlOptions.IdentityUrl}/resetpassword?email={Model.Email}&token={Model.ActivationToken}")" target="_blank">Reset password</a></div>
     </div>
</div>